/* app css stylesheet */

.parallax-img {
  width: 120%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.ieee-logo {
  width: 55%;
}

.rama-logo-ieee {
  width: 70%;
}

.joinIn-rama {
  border-width: 1px;
  border-style: dotted;
}