<div class="container">
	<h1>Student branch of the UNT</h1>

	<p>Student Branch is made up of volunteer students from the National University of Tucuman and organized by positions as: President, Vice President, Treasurer, Secretary and volunteers; if necessary the creation of new posts by a particular need for Rama it is done on an interim basis. So each volunteer who participates can get a place to develop skills such as teamwork, project management and organization.</p>
	<p>The objective of a student branch is to encourage students to research, training and learning of new technologies in the field of engineering. To carry out this objective, the executive committee with the collaboration of teachers and related offers courses, workshops, seminars, technical visits etc., open to all students of the faculty.</p>
	<p>In addition we invite volunteers to acquire the IEEE student membership to access more benefits and become part of the largest technical professional organization in the world dedicated to advancing technology for the benefit of humanity.</p>

	<h2>Our history</h2>
	<p>In 1968, thanks to Ing. Carlos Benito Boquete who was Professor of Electrical Engineering at the National University of Tucuman from 1967 to 2002, an affinity group of the IEEE with the aim of achieving official certification as Student Branch was formed.</p>
	<p>After a long administrative process IEEE Student Branch of Tucuman was officially accepted by IEEE Head Quarters in August 1970 and consisted of 14 student members. The Board of Directors at that time consisted of:
		<ul class="collection">
			<li class="collection-item">Ing. Carlos Benito Boquete as Director</li>
			<li class="collection-item">R. L. Alcaide as President</li>
			<li class="collection-item">R. Albiero as Secretary General</li>
			<li class="collection-item">F. Lebrón as Treasurer</li>
			<li class="collection-item">G. Courtade as Public Relations Manager</li>
		</ul>
	</p>
	<p>On October 18, 1970 in a brief ceremony Mr. Dean of the Faculty of Sciences and Technology Ing. Ricardo Naval Canés handed the Diploma that certifies the IEEE Student Branch of Tucuman as official student branch.</p>
	<p>To join, click <a href="mailto:sb.tucuman@ieee.org?Subject=Join%20in">here</a>.</p>
</div>
