<div class="container">
	<h1>IEEE</h1>
	<p>IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity. IEEE and its members inspire a global community to innovate for a better tomorrow through its highly-cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing and technology information around the globe.</p>
	<p>There are more than 430,000 IEEE members in more than 160 countries. The IEEE publishes a third of the world’s technical literature in electrical engineering, computer science and electronics and is a leading developer of international standards that underpin many of today’s telecommunications, information technology and power generation products and services.</p>

	<ul class="collapsible popout" data-collapsible="accordion">
    	<li>
      		<div class="collapsible-header">IEEE Society</div>
      		<div class="collapsible-body">
	      		<p>IEEE has 39 technical Societies that provide benefits to members within specialized fields of interest. Society memberships enable you stay current within your chosen technology profession, keep in touch with your peers, and invest in your career.<br>
				Join an IEEE Society today and start connecting to breakthrough technical information in your technology field. Membership includes: <br>
				- Society peer-reviewed publications and conferences.<br>
				- Significant discounts on society publications, conference registration, and other products (applies to many but not all Societies).<br>
				- An expansive professional network of worldwide technology experts in your field.
				</p>
				<p>Visit the 
					<a href="http://www.ieee.org/membership_services/membership/societies/index.html">website of IEEE Society</a>
				</p>
      		</div>
    	</li>
    	<li>
      		<div class="collapsible-header">IEEE Argentina Section</div>
      		<div class="collapsible-body">
      			<p>The IEEE Argentina Selection was founded in 1939 and has developed activities continued to the present, within the local institutional framework of the 'Institute of Electrical and Electronics Engineers' civil society non-profit established in Argentina.<br>
				Currently the Argentina Section of IEEE comprises:<br>
				- Subsection Córdoba<br>
				- 15 Chapters of Technical Societies<br>
				- 3 Chapters sets of Technical Societies<br>
				- Affinity Groups Young Professional (YP), Life Members, Women in Engineering (WIE) and Special Interest Group on Humanitarian Technology (SIGHT)<br>
				- 33 Student Branches
				</p>
				<p>Visit the 
					<a href="http://www.ieee.org.ar/index.asp">website of IEEE Argentina Section</a>
				</p>
      		</div>
    	</li>
  	</ul>

  	<a href="#/join">Thinking of join?</a>
        
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>