<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

<div class="container">
	<h1>Benefits of IEEE membership</h1>

	 <ul class="collapsible" data-collapsible="expandable">
    <li ng-repeat = 'benefit in benefits'>
      <div class="collapsible-header"><i class="material-icons">add</i>{{benefit.name}}</div>
      <div class="collapsible-body">
      	<p>{{benefit.description}}</p>
      	<ul class="collection">
      		<li class="collection-item" ng-repeat = 'item in benefit.items'>
      			<p><b>{{item.title}}</b> <br> {{item.body}} </p>
      		</li>
    	</ul>
      </div>
    </li>
    <li>
  </ul>

<p>Additionally, you can join one or more technical societies within IEEE. Each gives you exclusive benefits.</p>
<p>Visit the <a href="http://www.ieee.org/membership_services/index.html">website of the IEEE membership</a>.</p>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>