 <div class="row">
 </div>

 <div class="container joinIn-rama">
  <div class="row valign-wrapper">
    <div class="col s12 m6 valign center-align">
      <img class = 'rama-logo-ieee responsive-img' src="./app/views/img/want_to_join_us.jpg">
    </div>
    <div class="col s12 m5 valign left-align text-inviting">
      <h5>We want you to! <br>
        <a href="mailto:sb.tucuman@ieee.org?Subject=Join%20in">Mail us!</a>
      </h5>
    </div>
  </div>
</div>

 <div class="row card-panel grey">
    <center><h3 class="white-text">Current Branch Activities</h3>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="./app/views/img/new_members.png">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>If you want to know how IEEE can be good for you, find out more <a href="#/join">here</a>.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="./app/views/img/tips_activity.jpg">
          <span class="card-title">TISP 2016</span>
        </div>
        <div class="card-content">
          <p>It's important that the children know what they can do in the future. So, our branch
          is focus on spreading the differents engineerings through creative tasks. Have an idea? <br>
          <a href="mailto:sb.tucuman@ieee.org?Subject=New%20idea">Let us know!</a></p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="./app/views/img/charla.jpg">
          <span class="card-title">Talks</span>
        </div>
        <div class="card-content">
          <p>Every member of the branch has the opportunity to share some of his knowledgement with his pairs about anything they want. And, in the near future, give him the chance to share 
          it with branch's outsiders.</p>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <h1>Lastest Events</h1>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="./app/views/img/RNR2015.JPG"> 
        <div class="caption center-align">
          <h3>RNR 2015</h3>
          <h5 class="light grey-text text-lighten-3">
            The National Meeting of the IEEE Student Branches is an activity whose mission is to integrate all Student Branches that are within the same country once a year.
          </h5>
        </div>
      </li>
      <li>
        <img src="./app/views/img/wescis2015.JPG"> 
        <div class="caption left-align">
          <h3>WESCIS 2015</h3>
          <h5 class="light grey-text text-lighten-3">It's an initiative created by the Student Branch IEEE Tucuman in 2013, trying to meet the needs of our partners and ours seeking knowledge and preparation, with different themes to normally addressed in the obligatory subjects of the careers.</h5>
        </div>
      </li>
      <li>
        <img src="./app/views/img/tisp2015.jpg"> 
        <div class="caption right-align">
          <h3>TISP 2015</h3>
          <h5 class="light grey-text text-lighten-3">The Teacher In-Service Program (TISP) provides a forum for IEEE volunteers to demonstrate the application of engineering, science and mathematics concepts by sharing their real-world experiences with local pre-university educators. 
          IEEE offers training workshops for its volunteers on how to provide in-service programs to local pre-university educators.
        </h5>
        </div>
      </li>
      <li>
        <img src="./app/views/img/curso_git.jpg"> 
        <div class="caption center-align">
          <h3>Git Talk 2016</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
</div>
  <!--
  <div class="container">
  <h1>Eventos</h1>
<div class="section white">
    <div class="row container">
      <h4 class="header">RNR 2015</h4>
      <p class="grey-text text-darken-3 lighten-3">La Reunión Nacional de Ramas 2015 se realizó en San Miguel de Tucumán.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img class = 'parallax-img' src="./app/views/img/RNR2015.JPG"></div>
  </div>
    <div class="section white">
    <div class="row container">
      <h2 class="header">WESCIS</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img class = 'parallax-img' src="./app/views/img/wescis2015.JPG"></div>
  </div>
</div>
-->
<script>
   $(document).ready(function(){
      $('.slider').slider({full_width: true});
      $('.parallax').parallax();
    });
</script>

<style type="text/css">
  .parallax-container {
      height: 250px;
    }
</style>